@import "@aiszlab/wasp/tailwindcss";

@layer components {
  @import "musae";
}

/* bg utilities */
@utility bg-color-primary {
  background-color: var(--color-primary);
}
@utility bg-color-on-primary {
  background-color: var(--color-on-primary);
}
@utility bg-color-on-primary-20 {
  background-color: var(--color-on-primary-20);
}
@utility bg-color-secondary {
  background-color: var(--color-secondary);
}
@utility bg-color-surface-container-low {
  background-color: var(--color-surface-container-low);
}
@utility bg-color-surface-container-high {
  background-color: var(--color-surface-container-high);
}
@utility bg-color-surface-container-highest {
  background-color: var(--color-surface-container-highest);
}

/* text utilities */
@utility text-color-primary {
  color: var(--color-primary);
}
@utility text-color-on-primary {
  color: var(--color-on-primary);
}
@utility text-color-secondary {
  color: var(--color-secondary);
}
@utility text-color-on-secondary {
  color: var(--color-on-secondary);
}
@utility text-color-on-surface {
  color: var(--color-on-surface);
}

/* border utilities */
@utility border-color-outline {
  border-color: var(--color-outline);
}
